:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  /* margin-top: 76px; */

}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px; /* brauche ich das? */
  min-height: 100vh;
  /* overflow: hidden; */
}

h1 {
  font-size: 3.2em;
  color: #1F2933;
}

h2 {
  color: #1F2933;
  font-size: 1.5em
}

p {
  color: #1F2933;
}

.p-error{
  color: #DC2626;
  font-weight: bold;
}

/* component styling */
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #E1E4E8;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.3rem grey);
}

.content:hover{
  cursor: pointer;
}

.return-link{
  position: fixed;
  bottom: 100px;
  left: 50px;
}

/* footer */
.footer{
  display: flex;
  position: fixed;
  background-color: #004B5A;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.footer-content{
  display: flex;
  gap: 35px;
}


.footer-content p{
  color: #ffffff;
  font-weight: bold;
}

/* navbar */
.navbar{
  filter: drop-shadow(0 0 0.5rem grey);
  background-color: #E1E4E8;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1F2933;
  padding: 0 50px;
}

.navbar-content ul{
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 50px;
}

.nav-link{
  background-color: #2563EB;
  border-radius: 7px;
}

.navbar-content a{
  display: flex;
  align-items: center;
  color: #F7F8FA;
  text-decoration: inherit;
  height: 100%;
  padding: 5px;
}

.setup-link{
  text-decoration: none;
  background-color: #2563EB;
  border-radius: 7px;
}

/* er macht aus <Link /> einen <a /> tag aber es passiert nix (aber auch noch nicht im scope der abfrage) */
.navbar-content a.active{
  background-color: #F88500;
  border-radius: 7px;
}

.nav-link:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  box-shadow: 1px 1px 15px #888888;

  border-radius: 7px;
}

/* setup view */
.setup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* sim loader */
.input-rows{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  gap: 75px;
}

.param{
  background-color: #E1E4E8;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  min-width: 330px;
}

#intervention-param{
  background-color: #8a8c8f; 
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.setup-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-top: 40px;
}

/* start button */
.button-container{
  align-self: center;
}

.start-button{
 text-decoration: none;
 color: #ffffff;
 background-color: #2563EB;
 font-weight: 700;
 padding: 30px;
 border-radius: 7px;
}

.start-button:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  box-shadow: 1px 1px 15px #888888;
  background-color: #2b6af1;
  border-radius: 7px;
  cursor: pointer;
}

/* results view */
.result-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  min-height: 100vh;
}

.fetch-button{
 color: #ffffff;
 background-color: #2563EB;
 font-weight: 600;
 font-size: 16px;
 padding: 20px;
 border-radius: 7px;
}

.fetch-button:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  box-shadow: 1px 1px 15px #888888;
  background-color: #2b6af1;
  border-radius: 7px;
  cursor: pointer;
}

.status-success{
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-failed{
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-error{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetch-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E4E8;
  gap: 20px;
  padding: 20px;
}

.fetch-input{
  padding: 0px;
  height:20px;
  font-size:12pt;  
}

.artifact-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 80px; /* footer */
  padding: 50px;
}

.artifact-item-plot{
  width: auto;
}

.artifact-img{
  width: 700px;
  height: auto;
}

/* compare view */
.compare-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  min-height: 100vh;
}

.compare-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding-top: 80px;
}

/* history view */
.history-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  min-height: 100vh;
}